@charset"UTF-8";

/*------ GENERAL ------*/
* {
    z-index: 100;
}
html {
    background: rgba(245,246,248,1);
    height: 100%;
}
body {
    background: rgba(245,246,248,1);
    font-family:"Open Sans";
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    padding-bottom: 20px;
}

/*------ MAIN ------*/
.welcome {
    width: 100%;
    height: 1000px;
    opacity: 0.05;
    text-align: center;
    padding-top: 200px;
    font-weight: 700;
    z-index: 10;
}
.freakinhuge {
    font-size: 20em;
}
.browser {
    padding: 0;
}
.tablewell {
    background: rgba(242,243,245,1);
    overflow: scroll;
    height: 500px;
}
.filetable-title {
    padding-left: 10px;
}
.navbar-inner {
    border-radius: 0;
}
.about {
    font-size: 1.2em;
    margin: 0 auto;
    padding: 50px 30%;
}