@charset"UTF-8";
/*------ GENERAL ------*/
html {
    height: 100%;
    background: rgba(245,246,248,1);
}
body {
    padding-bottom: 20px;
    background: rgba(245,246,248,1);
    font-family:"Open Sans";
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/*------ MAIN ------*/
a {
    -webkit-transition: color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out;
}
.welcome {
    padding-top: 200px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    opacity: 0.05;
}

a#freakinhuge {
    font-size: 20em;
    color: #999;
}
a#freakinhuge:hover {
    color: #000;
    text-decoration: none;
    cursor: default;
}
.about {
    margin: 0 auto;
    padding: 50px 30%;
    font-size: 1.2em;
}
.browser {
    padding: 0;
}
.tablewell {
    overflow: scroll;
    height: 400px;
    background: rgba(242,243,245,1);
}
.comments {
    height: 200px;
}
.commentwell {
    height: 100px;
}
.code {
    width: 98%;
    padding: 2px;
}
.filetable-title {
    padding-left: 10px;
}
.navbar-inner {
    border-radius: 0;
}
.iframe a {
    cursor: pointer;
}
li a.ember-view.active {
    color: #fff !important;
}
iframe {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .navbar-inner {
        border-radius: 10px;
    }
}